# **Data Preprocessing**

There are a lot of preprocessing methods but we will mainly focus on the following methodologies:

(1) Encoding the Data

(2) Normalization

(3) Standardization

(4) Imputing the Missing Values

(5) Discretization

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Covid-19 Data in Asia.csv to Covid-19 Data in Asia.csv

In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
import pandas as pd
import io
data = pd.read_csv('Covid-19 Data in Asia.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        49 non-null     object
 1   Total Cases                    49 non-null     int64
 2   Total Deaths                   48 non-null     float64
 3   Total Recovered                49 non-null     int64
 4   Active Cases                   49 non-null     int64
 5   Total Cases per 1M population  49 non-null     int64
 6   Deaths per 1M population       48 non-null     float64
 7   Total Tests                    48 non-null     float64
 8   Tests per 1M population        48 non-null     float64
 9   Population                     49 non-null     int64
dtypes: float64(4), int64(5), object(1)
memory usage: 4.0+ KB

In [36]:
data.head()

       Country  Total Cases  ...  Tests per 1M population  Population
0  Afghanistan       148933  ...                  17938.0    39876288
1      Armenia       230713  ...                 457339.0     2969258
2   Azerbaijan       344951  ...                 395572.0    10238292
3      Bahrain       269401  ...                3103199.0     1765340
4   Bangladesh      1296093  ...                  47451.0   166468503

[5 rows x 10 columns]

# **Encoding**

In [37]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data['Population'].value_counts()

276659455     1
98288434      1
111161438     1
69990164      1
1765340       1
54805570      1
6792218       1
166468503     1
32815382      1
35401050      1
10238292      1
780819        1
85322962      1
1439323776    1
10019919      1
7562958       1
1345619       1
17960139      1
85157975      1
5246956       1
10312967      1
1394716546    1
658925        1
29704048      1
3335458       1
1216894       1
126055651     1
2807805       1
9769276       1
30536315      1
225533376     1
21510712      1
5229616       1
51317110      1
5900254       1
16969650      1
9326000       1
3980846       1
7389926       1
19020140      1
550850        1
2969258       1
41198441      1
6640744       1
4338983       1
442022        1
23863589      1
33994653      1
39876288      1
Name: Population, dtype: int64

# **Label encoder**

Label Encoding is a popular encoding technique for handling categorical variables. In this technique, each label is assigned a unique integer based on alphabetical ordering.

In [38]:
le=LabelEncoder()
data['Population']=le.fit_transform(data['Population'])
data['Population'].value_counts()

48    1
23    1
21    1
20    1
19    1
18    1
17    1
16    1
15    1
14    1
13    1
12    1
11    1
10    1
9     1
8     1
7     1
6     1
5     1
4     1
3     1
2     1
1     1
22    1
24    1
47    1
25    1
46    1
45    1
44    1
43    1
42    1
41    1
40    1
39    1
38    1
37    1
36    1
35    1
34    1
33    1
32    1
31    1
30    1
29    1
28    1
27    1
26    1
0     1
Name: Population, dtype: int64

In [39]:
le.classes_

array([    442022,     550850,     658925,     780819,    1216894,
          1345619,    1765340,    2807805,    2969258,    3335458,
          3980846,    4338983,    5229616,    5246956,    5900254,
          6640744,    6792218,    7389926,    7562958,    9326000,
          9769276,   10019919,   10238292,   10312967,   16969650,
         17960139,   19020140,   21510712,   23863589,   29704048,
         30536315,   32815382,   33994653,   35401050,   39876288,
         41198441,   51317110,   54805570,   69990164,   85157975,
         85322962,   98288434,  111161438,  126055651,  166468503,
        225533376,  276659455, 1394716546, 1439323776])

# **One Hot  encoder** 

One-Hot Encoding is another popular technique for treating categorical variables. It simply creates additional features based on the number of unique values in the categorical feature. Every unique value in the category will be added as a feature.

In [64]:
data['Country'].value_counts()

Kyrgyzstan      1
Syria           1
Afghanistan     1
Cambodia        1
Philippines     1
Tajikistan      1
Bhutan          1
Lebanon         1
Saudi Arabia    1
Jordan          1
Thailand        1
Sri Lanka       1
Hong Kong       1
Taiwan          1
Mongolia        1
Iran            1
Laos            1
Yemen           1
Georgia         1
Qatar           1
Oman            1
Azerbaijan      1
Armenia         1
Kuwait          1
Macao           1
Bangladesh      1
Turkey          1
Singapore       1
Uzbekistan      1
China           1
India           1
Japan           1
Indonesia       1
Maldives        1
Malaysia        1
Iraq            1
Cyprus          1
S. Korea        1
Vietnam         1
Bahrain         1
Israel          1
Kazakhstan      1
Myanmar         1
Nepal           1
Timor-Leste     1
Pakistan        1
Brunei          1
Palestine       1
UAE             1
Name: Country, dtype: int64

In [65]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['Country'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array(['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
        'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Georgia',
        'Hong Kong', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel',
        'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos',
        'Lebanon', 'Macao', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar',
        'Nepal', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar',
        'S. Korea', 'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syria',
        'Taiwan', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Turkey', 'UAE',
        'Uzbekistan', 'Vietnam', 'Yemen'], dtype=object)]

In [70]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
         'China','Hong Kong', 'India', 'Indonesia','UAE'])
transformed_data.head()

   Afghanistan  Armenia  Azerbaijan  Bahrain  ...  Hong Kong  India  Indonesia  UAE
0          1.0      0.0         0.0      0.0  ...        0.0    0.0        0.0  0.0
1          0.0      1.0         0.0      0.0  ...        0.0    0.0        0.0  0.0
2          0.0      0.0         1.0      0.0  ...        0.0    0.0        0.0  0.0
3          0.0      0.0         0.0      1.0  ...        0.0    0.0        0.0  0.0
4          0.0      0.0         0.0      0.0  ...        0.0    0.0        0.0  0.0

[5 rows x 10 columns]

In [72]:
transformed_data.iloc[45, ]

Afghanistan    0.0
Armenia        0.0
Azerbaijan     0.0
Bahrain        0.0
Bangladesh     0.0
China          0.0
Hong Kong      0.0
India          0.0
Indonesia      0.0
UAE            1.0
Name: 45, dtype: float64

In [73]:
data['Country'][45]

'UAE'


# **Normalization & Standardization**

In [74]:
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['Total Cases',
 'Total Deaths',
 'Total Recovered',
 'Active Cases',
 'Total Cases per 1M population',
 'Deaths per 1M population',
 'Total Tests',
 'Tests per 1M population',
 'Population']

In [75]:
len(numeric_columns) , len(data.columns)

(9, 10)

In [76]:
numeric_columns.remove('Deaths per 1M population')

In [77]:
temp_data = data[numeric_columns]
temp_data

    Total Cases  Total Deaths  ...  Tests per 1M population  Population
0        148933        6836.0  ...                  17938.0          34
1        230713        4621.0  ...                 457339.0           8
2        344951        5030.0  ...                 395572.0          22
3        269401        1384.0  ...                3103199.0           6
4       1296093       21397.0  ...                  47451.0          44
5          2532           2.0  ...                1022738.0           3
6           338           3.0  ...                 347114.0           0
7         79051        1471.0  ...                 107439.0          24
8         93193        4636.0  ...                 111163.0          48
9        102716         426.0  ...                7697444.0           4
10       428670        5910.0  ...                1727740.0          10
11        11995         212.0  ...                2828268.0          18
12     31726507      425228.0  ...                 337914.0          47
13      3496700       98889.0  ...                  97156.0          46
14      3979727       91785.0  ...                 303641.0          39
15      1660371       18865.0  ...                 321081.0          35
16       881282        6492.0  ...                1786323.0          19
17       944763       15204.0  ...                 147738.0          43
18       772743       10059.0  ...                 828367.0          23
19       595433        6153.0  ...                 608566.0          26
20       399343        2339.0  ...                 790732.0          11
21       165540        2354.0  ...                 232652.0          15
22         7015           7.0  ...                  42199.0          17
23       563124        7912.0  ...                 696588.0          16
24           59           NaN  ...                   7089.0           2
25      1163291        9598.0  ...                 560740.0          31
26        77633         221.0  ...                2151655.0           1
27       167229         827.0  ...                1033406.0           9
28       306354       10061.0  ...                  58057.0          37
29       702097        9922.0  ...                 122311.0          29
30       297431        3877.0  ...                 295409.0          13
31      1043277       23529.0  ...                  71645.0          45
32       317083        3609.0  ...                 382867.0          12
33      1612541       28141.0  ...                 151021.0          42
34       226710         601.0  ...                 836574.0           7
35       202203        2104.0  ...                 230333.0          36
36       528952        8270.0  ...                 715714.0          33
37        65315          38.0  ...                2665383.0          14
38       313769        4571.0  ...                 197790.0          27
39        26005        1917.0  ...                   5766.0          25
40        15721         791.0  ...                 162891.0          28
41        15219         121.0  ...                      NaN          20
42       652185        5315.0  ...                 116154.0          38
43        11100          26.0  ...                  70951.0           5
44      5770833       51519.0  ...                 801549.0          40
45       685462        1960.0  ...                6657594.0          21
46       131978         893.0  ...                  40533.0          32
47       165339        1881.0  ...                 120971.0          41
48         7086        1380.0  ...                   5310.0          30

[49 rows x 8 columns]

## **Normalization**

In [78]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

    Total Cases  Total Recovered  ...  Total Cases per 1M population  Population
0      0.004692         0.003264  ...                       0.024059    0.708333
1      0.007270         0.007128  ...                       0.508952    0.166667
2      0.010871         0.010785  ...                       0.220446    0.458333
3      0.008490         0.008641  ...                       1.000000    0.125000
4      0.040850         0.036412  ...                       0.050616    0.916667
5      0.000078         0.000076  ...                       0.020834    0.062500
6      0.000009         0.000007  ...                       0.004589    0.000000
7      0.002490         0.002333  ...                       0.030110    0.500000
8      0.002936         0.002827  ...                       0.000000    1.000000
9      0.003236         0.002593  ...                       0.552920    0.083333
10     0.013510         0.012585  ...                       0.705502    0.208333
11     0.000376         0.000378  ...                       0.009971    0.375000
12     1.000000         1.000000  ...                       0.148701    0.979167
13     0.110212         0.093008  ...                       0.082430    0.958333
14     0.125437         0.110842  ...                       0.305937    0.812500
15     0.052332         0.048165  ...                       0.263778    0.729167
16     0.027776         0.027589  ...                       0.619060    0.395833
17     0.029777         0.027441  ...                       0.048708    0.895833
18     0.024355         0.024337  ...                       0.490780    0.479167
19     0.018766         0.015830  ...                       0.204797    0.541667
20     0.012585         0.012514  ...                       0.602926    0.229167
21     0.005216         0.004826  ...                       0.162992    0.312500
22     0.000219         0.000108  ...                       0.005795    0.354167
23     0.017747         0.017394  ...                       0.543080    0.333333
24     0.000000         0.000000  ...                       0.000164    0.041667
25     0.036664         0.030747  ...                       0.231970    0.645833
26     0.002445         0.002423  ...                       0.923476    0.020833
27     0.005269         0.005134  ...                       0.328253    0.187500
28     0.009654         0.007026  ...                       0.036220    0.770833
29     0.022128         0.021364  ...                       0.154522    0.604167
30     0.009373         0.009091  ...                       0.371185    0.270833
31     0.032882         0.030564  ...                       0.029900    0.937500
32     0.009992         0.010101  ...                       0.397054    0.250000
33     0.050825         0.049236  ...                       0.094670    0.875000
34     0.007144         0.007252  ...                       0.528894    0.145833
35     0.006371         0.005757  ...                       0.025403    0.750000
36     0.016670         0.016509  ...                       0.097528    0.687500
37     0.002057         0.002038  ...                       0.072145    0.291667
38     0.009888         0.009089  ...                       0.095201    0.562500
39     0.000818         0.000710  ...                       0.009066    0.520833
40     0.000494         0.000457  ...                       0.003894    0.583333
41     0.000478         0.000474  ...                       0.009788    0.416667
42     0.020555         0.014169  ...                       0.060659    0.791667
43     0.000348         0.000322  ...                       0.053651    0.104167
44     0.181892         0.176908  ...                       0.442963    0.833333
45     0.021604         0.021446  ...                       0.448043    0.437500
46     0.004158         0.004063  ...                       0.025023    0.666667
47     0.005210         0.001518  ...                       0.010600    0.854167
48     0.000221         0.000135  ...                       0.001095    0.625000

[49 rows x 5 columns]


## **Standardization**

In [79]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

    Total Cases  Total Recovered  ...  Total Cases per 1M population  Population
0     -0.249935        -0.248957  ...                      -0.786633    0.707107
1     -0.231859        -0.221798  ...                       1.105192   -1.131371
2     -0.206609        -0.196098  ...                      -0.020425   -0.141421
3     -0.223308        -0.211166  ...                       3.021034   -1.272792
4      0.003620        -0.015984  ...                      -0.683021    1.414214
5     -0.282293        -0.271363  ...                      -0.799217   -1.484924
6     -0.282778        -0.271845  ...                      -0.862597   -1.697056
7     -0.265381        -0.255498  ...                      -0.763026    0.000000
8     -0.262255        -0.252027  ...                      -0.880501    1.697056
9     -0.260150        -0.253670  ...                       1.276737   -1.414214
10    -0.188105        -0.183444  ...                       1.872040   -0.989949
11    -0.280202        -0.269243  ...                      -0.841598   -0.424264
12     6.729602         6.756389  ...                      -0.300339    1.626346
13     0.490016         0.381793  ...                      -0.558896    1.555635
14     0.596779         0.507130  ...                       0.313125    1.060660
15     0.084136         0.066623  ...                       0.148639    0.777817
16    -0.088065        -0.077995  ...                       1.534783   -0.353553
17    -0.074034        -0.079035  ...                      -0.690464    1.343503
18    -0.112055        -0.100851  ...                       1.034293   -0.070711
19    -0.151246        -0.160641  ...                      -0.081477    0.141421
20    -0.194587        -0.183945  ...                       1.471838   -0.919239
21    -0.246264        -0.237976  ...                      -0.244581   -0.636396
22    -0.281303        -0.271137  ...                      -0.857891   -0.494975
23    -0.158387        -0.149650  ...                       1.238346   -0.565685
24    -0.282840        -0.271897  ...                      -0.879862   -1.555635
25    -0.025733        -0.055797  ...                       0.024540    0.494975
26    -0.265694        -0.254864  ...                       2.722474   -1.626346
27    -0.245891        -0.235811  ...                       0.400189   -1.060660
28    -0.215140        -0.222514  ...                      -0.739188    0.919239
29    -0.127670        -0.121746  ...                      -0.277626    0.353553
30    -0.217112        -0.208004  ...                       0.567692   -0.777817
31    -0.052259        -0.057083  ...                      -0.763844    1.484924
32    -0.212769        -0.200901  ...                       0.668619   -0.848528
33     0.073564         0.074148  ...                      -0.511144    1.272792
34    -0.232744        -0.220924  ...                       1.182997   -1.202082
35    -0.238160        -0.231438  ...                      -0.781390    0.848528
36    -0.165940        -0.155870  ...                      -0.499993    0.636396
37    -0.268417        -0.257570  ...                      -0.599026   -0.707107
38    -0.213501        -0.208017  ...                      -0.509072    0.212132
39    -0.277105        -0.266904  ...                      -0.845128    0.070711
40    -0.279378        -0.268683  ...                      -0.865308    0.282843
41    -0.279489        -0.268564  ...                      -0.842315   -0.282843
42    -0.138702        -0.172311  ...                      -0.643837    0.989949
43    -0.280400        -0.269637  ...                      -0.671179   -1.343503
44     0.992664         0.971461  ...                       0.847734    1.131371
45    -0.131347        -0.121167  ...                       0.867556   -0.212132
46    -0.253682        -0.243344  ...                      -0.782874    0.565685
47    -0.246308        -0.261226  ...                      -0.839143    1.202082
48    -0.281287        -0.270946  ...                      -0.876230    0.424264

[49 rows x 5 columns]


## **Handling With Missing Values**

In [80]:
numeric_data = data[numeric_columns]
numeric_data.isnull().sum()

Total Cases                      0
Total Deaths                     1
Total Recovered                  0
Active Cases                     0
Total Cases per 1M population    0
Total Tests                      1
Tests per 1M population          1
Population                       0
dtype: int64

In [81]:
numeric_data['Total Tests'].isnull().sum()

1


## **Simple Imputer**

In [82]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')
agent_col = imputer.fit_transform(numeric_data)
pd.DataFrame(agent_col).isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
dtype: int64


## **Discretization**

In [83]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   Total Cases  Total Recovered  ...  Total Cases per 1M population  Population
0       148933           100896  ...                           3735          34
1       230713           220289  ...                          77701           8
2       344951           333267  ...                          33692          22
3       269401           267026  ...                         152606           6
4      1296093          1125045  ...                           7786          44

[5 rows x 5 columns]


## **Quantile Discretization Transform**

In [84]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

    Total Cases  Total Recovered  ...  Total Cases per 1M population  Population
0           3.0              3.0  ...                            2.0         7.0
1           4.0              4.0  ...                            8.0         1.0
2           5.0              5.0  ...                            6.0         4.0
3           4.0              5.0  ...                            9.0         1.0
4           8.0              8.0  ...                            3.0         9.0
5           0.0              0.0  ...                            2.0         0.0
6           0.0              0.0  ...                            0.0         0.0
7           2.0              2.0  ...                            3.0         5.0
8           2.0              3.0  ...                            0.0         9.0
9           2.0              2.0  ...                            8.0         0.0
10          6.0              6.0  ...                            9.0         2.0
11          1.0              1.0  ...                            1.0         3.0
12          9.0              9.0  ...                            5.0         9.0
13          9.0              9.0  ...                            4.0         9.0
14          9.0              9.0  ...                            6.0         8.0
15          9.0              8.0  ...                            6.0         7.0
16          7.0              8.0  ...                            9.0         3.0
17          8.0              7.0  ...                            3.0         8.0
18          7.0              7.0  ...                            8.0         4.0
19          6.0              6.0  ...                            6.0         5.0
20          6.0              6.0  ...                            9.0         2.0
21          3.0              3.0  ...                            5.0         3.0
22          0.0              0.0  ...                            1.0         3.0
23          6.0              7.0  ...                            8.0         3.0
24          0.0              0.0  ...                            0.0         0.0
25          8.0              8.0  ...                            6.0         6.0
26          2.0              2.0  ...                            9.0         0.0
27          3.0              3.0  ...                            7.0         1.0
28          5.0              4.0  ...                            3.0         7.0
29          7.0              7.0  ...                            5.0         6.0
30          5.0              5.0  ...                            7.0         2.0
31          8.0              8.0  ...                            2.0         9.0
32          5.0              5.0  ...                            7.0         2.0
33          8.0              9.0  ...                            4.0         8.0
34          4.0              4.0  ...                            8.0         1.0
35          4.0              4.0  ...                            2.0         7.0
36          6.0              6.0  ...                            5.0         6.0
37          2.0              2.0  ...                            4.0         2.0
38          5.0              5.0  ...                            5.0         5.0
39          1.0              1.0  ...                            1.0         5.0
40          1.0              1.0  ...                            0.0         5.0
41          1.0              1.0  ...                            1.0         4.0
42          7.0              6.0  ...                            4.0         7.0
43          1.0              1.0  ...                            3.0         1.0
44          9.0              9.0  ...                            7.0         8.0
45          7.0              7.0  ...                            7.0         4.0
46          3.0              3.0  ...                            2.0         6.0
47          3.0              2.0  ...                            1.0         8.0
48          0.0              0.0  ...                            0.0         6.0

[49 rows x 5 columns]

## **Uniform Discretization Transform**

In [85]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

    Total Cases  Total Recovered  ...  Total Cases per 1M population  Population
0           0.0              0.0  ...                            0.0         7.0
1           0.0              0.0  ...                            5.0         1.0
2           0.0              0.0  ...                            2.0         4.0
3           0.0              0.0  ...                            9.0         1.0
4           0.0              0.0  ...                            0.0         9.0
5           0.0              0.0  ...                            0.0         0.0
6           0.0              0.0  ...                            0.0         0.0
7           0.0              0.0  ...                            0.0         5.0
8           0.0              0.0  ...                            0.0         9.0
9           0.0              0.0  ...                            5.0         0.0
10          0.0              0.0  ...                            7.0         2.0
11          0.0              0.0  ...                            0.0         3.0
12          9.0              9.0  ...                            1.0         9.0
13          1.0              0.0  ...                            0.0         9.0
14          1.0              1.0  ...                            3.0         8.0
15          0.0              0.0  ...                            2.0         7.0
16          0.0              0.0  ...                            6.0         3.0
17          0.0              0.0  ...                            0.0         8.0
18          0.0              0.0  ...                            4.0         4.0
19          0.0              0.0  ...                            2.0         5.0
20          0.0              0.0  ...                            6.0         2.0
21          0.0              0.0  ...                            1.0         3.0
22          0.0              0.0  ...                            0.0         3.0
23          0.0              0.0  ...                            5.0         3.0
24          0.0              0.0  ...                            0.0         0.0
25          0.0              0.0  ...                            2.0         6.0
26          0.0              0.0  ...                            9.0         0.0
27          0.0              0.0  ...                            3.0         1.0
28          0.0              0.0  ...                            0.0         7.0
29          0.0              0.0  ...                            1.0         6.0
30          0.0              0.0  ...                            3.0         2.0
31          0.0              0.0  ...                            0.0         9.0
32          0.0              0.0  ...                            3.0         2.0
33          0.0              0.0  ...                            0.0         8.0
34          0.0              0.0  ...                            5.0         1.0
35          0.0              0.0  ...                            0.0         7.0
36          0.0              0.0  ...                            0.0         6.0
37          0.0              0.0  ...                            0.0         2.0
38          0.0              0.0  ...                            0.0         5.0
39          0.0              0.0  ...                            0.0         5.0
40          0.0              0.0  ...                            0.0         5.0
41          0.0              0.0  ...                            0.0         4.0
42          0.0              0.0  ...                            0.0         7.0
43          0.0              0.0  ...                            0.0         1.0
44          1.0              1.0  ...                            4.0         8.0
45          0.0              0.0  ...                            4.0         4.0
46          0.0              0.0  ...                            0.0         6.0
47          0.0              0.0  ...                            0.0         8.0
48          0.0              0.0  ...                            0.0         6.0

[49 rows x 5 columns]


## **KMeans Discretization Transform**

In [86]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

    Total Cases  Total Recovered  ...  Total Cases per 1M population  Population
0           4.0              4.0  ...                            0.0         7.0
1           5.0              4.0  ...                            6.0         1.0
2           5.0              5.0  ...                            3.0         4.0
3           5.0              5.0  ...                            9.0         1.0
4           7.0              6.0  ...                            1.0         9.0
5           1.0              2.0  ...                            0.0         0.0
6           0.0              1.0  ...                            0.0         0.0
7           3.0              4.0  ...                            0.0         4.0
8           4.0              4.0  ...                            0.0         9.0
9           4.0              4.0  ...                            6.0         0.0
10          5.0              5.0  ...                            8.0         2.0
11          2.0              3.0  ...                            0.0         3.0
12          9.0              8.0  ...                            2.0         9.0
13          8.0              7.0  ...                            1.0         9.0
14          8.0              7.0  ...                            4.0         8.0
15          7.0              6.0  ...                            3.0         7.0
16          6.0              6.0  ...                            7.0         3.0
17          6.0              6.0  ...                            1.0         8.0
18          6.0              6.0  ...                            5.0         4.0
19          6.0              5.0  ...                            3.0         5.0
20          5.0              5.0  ...                            7.0         2.0
21          4.0              4.0  ...                            2.0         3.0
22          2.0              2.0  ...                            0.0         3.0
23          6.0              5.0  ...                            6.0         3.0
24          0.0              0.0  ...                            0.0         0.0
25          7.0              6.0  ...                            3.0         6.0
26          3.0              4.0  ...                            9.0         0.0
27          4.0              4.0  ...                            4.0         1.0
28          5.0              4.0  ...                            1.0         7.0
29          6.0              5.0  ...                            2.0         6.0
30          5.0              5.0  ...                            4.0         2.0
31          7.0              6.0  ...                            0.0         9.0
32          5.0              5.0  ...                            4.0         2.0
33          7.0              6.0  ...                            2.0         8.0
34          5.0              4.0  ...                            6.0         1.0
35          4.0              4.0  ...                            0.0         7.0
36          6.0              5.0  ...                            2.0         6.0
37          3.0              3.0  ...                            1.0         2.0
38          5.0              5.0  ...                            2.0         5.0
39          3.0              3.0  ...                            0.0         5.0
40          2.0              3.0  ...                            0.0         5.0
41          2.0              3.0  ...                            0.0         4.0
42          6.0              5.0  ...                            1.0         7.0
43          2.0              2.0  ...                            1.0         1.0
44          8.0              7.0  ...                            5.0         8.0
45          6.0              5.0  ...                            5.0         4.0
46          4.0              4.0  ...                            0.0         6.0
47          4.0              3.0  ...                            0.0         8.0
48          2.0              2.0  ...                            0.0         6.0

[49 rows x 5 columns]